@font-face {
  font-family: "OMORI_GAME2 Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("OMORI_GAME2 Regular"),
    url("../fonts/OMORI_GAME.woff") format("woff");
}

@font-face {
  font-family: "OMORI_GAME Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("OMORI_GAME Regular"),
    url("../fonts/OMORI_GAME2.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "OMORI_GAME Regular";
  padding: 0;
  background-color: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(248, 248, 248);
  font-weight: normal;
  width: 1280px;
  height: 960px;
  position: relative;
  display: flex;
}

.buttons {
  background-color: black;
  color: white;
  border: 5px solid white;
  outline: 3px solid black;
}

#start {
  opacity: 0%;
  width: 20%;
  height: 10%;
  font-size: 250%;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-family: "OMORI_GAME Regular";
  font-weight: normal;
  font-size: 58px;
  z-index: 90;
}

#start.visible {
  animation-name: START;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}

#start_Game {
  opacity: 0%;
  width: 100%;
  height: 100%;
  font-size: 250%;
  position: absolute;
  z-index: 100;
}

.black_OMORI {
  opacity: 0%;
  position: absolute;
  font-weight: normal;
  top: 0;
  left: 0;
}

.black_OMORI.visible {
  animation-name: OMORI_black;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#black_lamp {
  opacity: 0%;
  position: absolute;
}

#black_lamp.visible {
  animation: LAMP_black 3s ease 1s forwards;
}

#black_lamp.move {
  animation: WHITE_LUMP 4s linear 0.7s forwards;
}

#start-scene {
  visibility: hidden;
  position: absolute;
  width: 1280px;
  height: 960px;
  top: 0;
  left: 0;
  object-fit: cover;
}

#start-door {
  opacity: 0%;
  position: absolute;
  top: 46%;
  left: 45%;
}

#start-door.visible {
  animation: start-door-animation 4s ease forwards;
}

#start-door.end {
  animation: close-door 3s ease forwards;
}

#Omori {
  opacity: 0%;
  position: absolute;
  top: 47%;
  left: 45%;
}

#Omori.visible {
  animation: Omori-visible 4s ease forwards;
}

#Omori.go-to-the-door-right {
  animation: Omori-go-to-the-door-right 5s linear forwards;
}

#Omori.go-to-the-door-top {
  animation: Omori-go-to-the-door-top 2.5s linear forwards;
}

#Omori.Go-into-the-door {
  animation: Omori-go-into-the-door 3s ease forwards;
}

#Omori.Go-to-the-table {
  animation: Omori-go-to-the-table 3s linear forwards;
}

#window {
  display: flex;
  opacity: 0%;
  z-index: 90;
}

#dialogue {
  position: absolute;
  width: 93%;
  height: 20%;
  top: 71%;
  left: 3%;
  z-index: 90;
}

#dialogue.visible {
  animation: dialogue-visible 1s ease forwards;
}

p {
  font-family: "OMORI_GAME Regular";
  font-weight: normal;
  font-size: 44px;
  margin: 15px;
}

#text1 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#text2 {
  margin-top: 0px;
  padding-top: 0px;
}

#yes,
#no {
  font-family: "OMORI_GAME Regular";
  position: absolute;
  width: 12%;
  height: 7%;
  font-size: 44px;
  cursor: pointer;
  z-index: 90;
}

#no {
  position: absolute;
  top: 62%;
  left: 84.82%;
  z-index: 90;
}

#no.visible {
  animation: no-visible 1s ease forwards;
}

#yes {
  position: absolute;
  top: 53%;
  left: 84.82%;
  z-index: 90;
}

#yes.visible {
  animation: yes-visible 1s ease forwards;
}

#window.visible {
  animation: window-visible 1s ease forwards;
}

#CatDoor {
  opacity: 0%;
  position: absolute;
  left: 68.35%;
  top: 33.8%;
}

#CatDoor.visible {
  animation: door-visible 5s linear forwards;
}

#white {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0%;
  z-index: 60;
}

#white.visible {
  animation: white-visible 3s linear forwards;
}

#white.visible-end {
  animation: white-visible-end 3s linear forwards;
}

#audio.noVolume {
  animation: noVolume 3s linear forwards;
}

#audio.noVolumeEnd {
  animation: noVolumeEnd 3s linear forwards;
}

#Mewo-Table {
  position: absolute;
  top: 71.44%;
  left: 43.5%;
  opacity: 0;
  z-index: 40;
}

#Cat-decision-room {
  opacity: 0;
  position: absolute;
  z-index: 30;
}

#tail {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
}

#eyes {
  opacity: 0;
  position: absolute;
  z-index: 20;
}

#emotion {
  opacity: 0;
  position: absolute;
  z-index: 20;
}

#final {
  opacity: 0;
}

#trambl {
  position: absolute;
  opacity: 0;
  z-index: 60;
}
@keyframes yes-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes no-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes white-visible {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes white-visible-end {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes door-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes window-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dialogue-visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LAMP_black {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes WHITE_LUMP {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-520px);
  }
}

@keyframes OMORI_black {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes START {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes start-door-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Omori-visible {
  0% {
    opacity: 0;
    top: 47%;
  }

  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 52%;
  }
}

@keyframes Omori-go-to-the-door-right {
  0% {
    left: 45%;
  }

  100% {
    left: 68.2%;
  }
}

@keyframes Omori-go-to-the-door-top {
  0% {
    top: 52%;
  }

  100% {
    top: 38%;
  }
}

@keyframes Omori-go-into-the-door {
  0% {
    opacity: 1;
    top: 38%;
  }

  100% {
    opacity: 0;
    top: 35%;
  }
}

@keyframes Omori-go-to-the-table {
  0% {
    top: 51%;
  }
  100% {
    top: 69%;
  }
}

@keyframes close-door {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
